* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Form */
#form {
    background-color: white;
    margin: 2em auto;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em #0000001a;
    max-width: 35vw;
}

#form label {
    display: block;
    margin: 1em 0 0.5em;
    font-weight: bold;
}

#form input {
    width: 100%;
    padding: 0.5em;
    border: 0.1em solid #ccc;
    border-radius: 0.4em;
}

/* Errors */
#form small {
    color: #c44;
    display: none;
}

#form small#successful {
    margin: 1em;
    text-align: center;
    color: #5cb85c;
}

/* Submit */
#form button {
    background-color: #5cb85c;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 0.3em;
    cursor: pointer;
    border: 0.1em solid #ccc;
    display: block;
    margin: 2em auto;
}

#form button:hover {
    background-color: #45a049;
}